.formTextarea {
    max-height: 200px;
}

.submitHoorayButton {
    padding: 10px 20px;
    background: white;
    color: #333333;
    border: 1px solid darkslategrey;
    border-radius: 10px;
    transition: all 1s ease-in-out;
}

.submitHoorayButton:hover {
    transition: .5s;
    background: darkslategrey;
    color: whitesmoke;
}