.projects {
    background: rgb(39,53,106);
    background: linear-gradient(45deg, rgba(39,53,106,1) 0%, rgba(41,212,55,1) 100%);
}

.ProjectsHeader {
    font-size: xx-large;
}


.ProjectsCard {
    transition: all 1s ease-in-out;
}

.ProjectsCard:hover {
    transition: .3s;
    scale: 1.1;
}

.ProjectsCardTitle {
    width: 100%;
    background: rgb(58,120,180);
    background: linear-gradient(90deg, rgba(58,120,180,1) 0%, rgba(175,29,253,1) 36%, rgba(252,188,69,1) 100%);
    font-size: x-large;
}