.projects {
    background: lightgreen;
    z-index: 2;
}

.ProjectsHeader {
    font-size: xx-large;
}


.ProjectsCard {
    transition: all 1s ease-in-out;
}

.ProjectsCard:hover {
    transition: .3s;
    scale: 1.1;
}

.ProjectsCardTitle {
    font-size: x-large;
}