.VisitCard {
    height: 200px;
    background: rgb(0,49,97);
    background: linear-gradient(45deg, rgba(0,49,97,1) 0%, rgba(251,173,0,1) 45%, rgba(255,219,157,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons1, .social-icons2, .social-icons3 {
    transition: all 1s ease-in-out;
}

.social-icons1:hover, .social-icons2:hover, .social-icons3:hover {
    transition: .3s;
    scale: 1.1;
}

.social-icons1:hover {
    background: white;
    color: dodgerblue;
}

.social-icons2:hover {
    background: white;
    color: darkslategray;
}

.social-icons3:hover {
    background: white;
    color: dodgerblue;
}