.formTextarea {
    max-height: 200px;
}

.submitHoorayButton {
    padding: 10px 20px;
    background: white;
    color: #333333;
    border: 1px solid darkslategrey;
    border-radius: 10px;
    transition: all 1s ease-in-out;
}

.submitHoorayButton:hover {
    transition: .5s;
    background: darkslategrey;
    color: whitesmoke;
}

.contactForm {
    background: aliceblue;
}

.contactHeaderText {
    font-size: 25px;
    font-family: monospace, Serif;
}

.contactTextVisual {
    font-size: 15px;
    padding: 10px;
    font-family: monospace, Serif;
}

.resumeStyleSpace {
    display: flex;
    justify-content: center;
}

.resumeStyle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background: #0D192C;
    color: whitesmoke;
    transition: all .3s ease-in-out;
}

.resumeStyle:hover {
    transition: .3s;
    background: #3b5998;
    padding: 10px 14px;
}