.educationSpace {
    font-family: monospace, 'serif';
    background: #000000;
    color: #41ff41;
    padding: 10px;
}

.universityTitle {
    font-size: 2rem;
    text-align: center;
}

.university {
}

.universityDescriptionSpace {
    padding: 20px;
}

.universityDescription {
    margin-left: 5px;
    text-align: justify;
}

.universityMasterProjectVideo {
    margin: 0 auto;
    width: 80%;
    height: 50vh;
}