.projects {
    background: #0D192C;
}

.ProjectsHeader {
    font-size: xx-large;
    color: #8BACD9;
}


.ProjectsCard {
    transition: all 1s ease-in-out;
    box-shadow: #324d5d 0 0 20px 6px;
}

.ProjectsCard:hover {
    transition: .5s;
    scale: 1.1;
}

.ProjectsCardTitle {
    background: #15263F;
    color: #00FFF8;
    font-size: x-large;
}